 * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /*overflow: hidden;*/
  
 }
 body {
  height: 100vh;
  overflow: hidden;
  
  
  
 }
 main {
  background: linear-gradient(90deg, #0C164D 0%, #190B22 100%);
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
 
  
 }
 .headlines {
  height: 8rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-right: 3rem;
  justify-content: center;
}
.headlines h1 {
  color: #FFFFFF;

}
.headlines h3 {
  color: #FFD029;

}

.circle-div {
  display: flex;
  justify-content: center;
  align-items: center;
}
#saturnus-line {
  background-color: rgba(255, 255, 255, 0.4);
  height: .4rem;
  width: 15.5rem;
  position: absolute;
  align-self: center;
  
  transform: rotate(-30deg);
  border-radius: 50%;
} 



footer {
  height: 8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FFFFFF;
}

 .planet-wrapper {

  display: flex;
  justify-content: flex-end;
  height: 10rem;
  width: 100%;
  
  
}

#planeter {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  width: 90%

  
}
#planet0 {
  width: 55rem;
  height: 120%;
  background-color: #FFD029;
  justify-content: left;
  border-radius: 50%;
  position: absolute;
  left: 0;
  transform: translate(-85%);
}

#planet1 {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background-color: #888888;
  
}

#planet2 {
  width: 1.8rem;
  height: 1.8rem;
  border-radius: 50%;
  background-color: #E7CDCD;
}

#planet3 {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background-color: #428ED5;
}

#planet4 {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background-color: #EF5F5F;
}

#planet5 {
  width: 13rem;
  height: 13rem;
  border-radius: 50%;
  background-color: #E29468;
}

#planet6 {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  background-color: #C7AA72;
}



#planet7 {
  width: 4.7rem;
  height: 4.7rem;
  border-radius: 50%;
  background-color: #C9D4F1;
}

#planet8 {
  width: 4.7rem;
  height: 4.7rem;
  border-radius: 50%;
  background-color: #7A91A7;
}




/* ----MODAL---- */

.modal {
  
  display: none; 
  position: fixed; 
  z-index: 1; 
  left: 0;
  top: 0;
  height: 100vh;
  width: 100%;
  overflow: auto; 
  /*ransition: all 3s ease;*/
}

.modal-content {
  position: relative;
  background: linear-gradient(90deg, #0C164D 0%, #190B22 100%);
  margin: auto;
  padding: 0;
  height: 100vh;
  width: 100%;
  display: flex;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  

}
.modal-body {
  display: flex;
  max-width: 600px;
  flex-direction: column;
  justify-content: space-between;
  
  height: 80vh;
 
}

.first {
  
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
#valdplanet {
  width: 55rem;
  height: 120%;
  background-color: #FFD029;
  justify-content: left;
  border-radius: 50%;
  position: absolute;
  left: 0;
  transform: translate(-85%);
  align-self: center;
  
  box-shadow: 0 0 0 2.5rem rgba(66, 142, 213, 0.1), 0 0 0 5rem rgba(66, 142, 213, 0.06);
}







.close {

}